<p>interval works!</p>

<!-- eS UNA FUNCION QUE NOS PERMITE CREAR OBSERVABLES QUE TRABAJA CON INTERVALOS DE TIEMPO, AL SUBSCRIBIRNOS A ESTE OBSERVABLE TENEMOS UNA SECUENCIA DE VALORES QUE SE GENERA DESDE 0 HASTA EL INFINITO, Y CADA EMISION SE HARIA SEGUN EL INTERVALO DE TIEMPO QUE SE HAYA ASIGNADO, es un observable asincrono por naturaleza
  -->

  <!-- Timer, es muy similar al interval, a diferencia del interval que emite un valor cada que se complete el intervalo de tiempo dado, este lo que hace es que cuando se completa el tiempo que se le asigno por el parametro emite un valor y se completa automaticamente, este es el funcionamiento por defecto del timer pero tiene algunas configuraciones especiales -->