<section class="w-full">
  <h1 class="text-4xl mb-2 break-all">
    range -
    <code class="text-indigo-600">range(start, emissionsQuantity)</code>
  </h1>
  <hr class="mb-4">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <p-card>
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        CREACIÓN
      </h2>
      <hr class="mb-4">
      <p>
        Crea un observable que emite una secuencia de números en base a un rango dado. siendo el primer parametro el valor por el cual empieza el rango y el segundo la cantidad de emisiones que realizara el observble.
      </p>
      <pre class="whitespace-pre-wrap border-[1px] rounded-md border-gray-700">
        <code>
          const src$ = range(1,5);
        </code>
      </pre>
      <p>
        Una vez suscritos se empezara a emitir desde el primer parametro agregado <b>1</b>, y se emitira durante 5 veces
      </p>
      <img src="assets/images/observables/range.png" alt="ranga_stream" class="w-full rounded-md my-4">
    </p-card>
    <p-card>
      En principio es síncrono pero atravez de un asyncScheduler se puede volver asíncrono

      <h2 class="text-indigo-600 font-semibold mt-3">SINCRONO:</h2>
      <pre class="whitespace-pre-wrap border-[1px] rounded-md border-gray-700">
        <code>
          range(1,5).subscribe( () => {{'{}'}})
        </code>
      </pre>
      <h2 class="text-indigo-600 font-semibold mt-3">ASINCRONO:</h2>
      <pre class="whitespace-pre-wrap border-[1px] rounded-md border-gray-700">
        <code>
          range(1,5).pipe(
            subscribeOn( asyncScheduler )
          ).subscribe( () => {{'{}'}})
        </code>
      </pre>
    </p-card>
    <p-card class="md:col-span-full">
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        EJEMPLO
      </h2>
      <hr class="mb-4">
      <div class="grid grid-cols-1 md:grid-cols-2 py-4 gap-4">
        <div class="flex flex-col relative">
          <label for="range-start" class="absolute text-indigo-600 top-[-14px] left-[6px] text-xs bg-slate-900 z-[1] p-[.3rem] font-semibold">
            Range start:
          </label>
          <input class="bg-slate-900 border-[1px] border-indigo-600 py-[.3rem] px-[.6rem] rounded-sm" type="number" [formControl]="min" id="range-start">
        </div>
        <div class="flex flex-col relative">
          <label for="emissions_quantity" class="absolute text-indigo-600 top-[-14px] left-[6px] text-xs bg-slate-900 z-[1] p-[.3rem] font-semibold">
            Emissions quantity:
          </label>
          <input class="bg-slate-900 border-[1px] border-indigo-600 py-[.3rem] px-[.6rem] rounded-sm" type="number" [formControl]="emissions" id="emissions_quantity">
        </div>
        <button class="col-span-full bg-indigo-600 p-2 rounded-md hover:bg-indigo-900" (click)="startSubscription()">
          Iniciar
        </button>
      </div>
      <div *ngIf="results.length > 0">
        <p *ngFor="let item of results; let i = index">
          emission {{i + 1}} = {{item}}
        </p>
      </div>
    </p-card>
  </section>
</section>
