<section class="w-full">
  <h1 class="text-4xl mb-2 break-all">
    Operadores
  </h1>
  <hr class="mb-4">
  <section class="flex flex-col gap-4">
    <p-card>
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        QUE SON ?
      </h2>
      <hr class="mb-4">
      <p>
        Los operadores de RXJS son un tipo especial de función, algo asi como un middleware que toma como input el flujo de datos de un observable y retorna como output un observable. se debe tener en cuenta que este 'middleware' puede transformar o no la información que pase por el según la funcionalidad del operador que se aplique.

        A continuación una lista de los operadores que se van a profundizar un poco más:
      </p>
    </p-card>
    <p-card>
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        USO
      </h2>
      <hr class="mb-4">
      <pre class="whitespace-pre-wrap max-w-[600px] mx-auto border-[1px] rounded-md border-gray-700 mb-3">
        <code>
          const src$ = range(1,10)
        </code>
      </pre>
      <p>
        Una vez se tiene un observable se puede hacer el uso de los operadores de dos maneras, usandolo directamente en la creación del observable o en una subscripción especifica si no se necesita mapear los datos en todas las subscripciones
      </p>
      <pre class="whitespace-pre-wrap max-w-[600px] mx-auto border-[1px] rounded-md border-gray-700 my-3">
        <code>
          // Opción 1
          const src$ = range(1,10).pipe(
            map( val => val * 10)
          )

          // Opción 2
          src$.pipe(
            map( val => val * 10)
          ).subscribe( console.log )
        </code>
      </pre>
      <p>
        Los operadores se pueden encadenar, para aplicar varios operadores a una misma emisión del observador padre, y se podría hacer de dos maneras,  se debe tener en cuenta que el orden en que se pongan los operadores es importante ya que si no se tiene en cuenta que tipo de dato entra y sale en
        cada operador puede generar errores
      </p>
      <pre class="whitespace-pre-wrap max-w-[600px] mx-auto border-[1px] rounded-md border-gray-700 my-3">
        <code>
          // Opción 1
          const src$ = range(1,10).pipe(
            tap( val => console.log(val) ),
            map( val => val * 10),
            filter( val => val % 2 === 0)
          )

          // Opción 2
          src$.pipe(
            tap( val => console.log(val) ),
          ).pipe(
            map( val => val * 10)
          ).pipe(
            filter( val => val % 2 === 0)
          ).subscribe( console.log )
        </code>
      </pre>
    </p-card>
    <p-card>
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        LISTA DE OPERADORES
      </h2>
      <hr class="mb-4">
      <ul class="list-inside list-disc">
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/map">
            MAP
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/pluck">
            PLUCK
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/map-to">
            MAP TO
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/filter">
            FILTER
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/tap">
            TAP
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/reduce">
            REDUCE
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/scan">
            SCAN
          </a>
        </li>
      </ul>
    </p-card>
  </section>
</section>
