<section class="w-full">
  <h1 class="text-4xl mb-2 break-all">
    Operadores
  </h1>
  <hr class="mb-4">
  <section class="flex flex-col gap-4">
    <p-card>
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        QUE SON ?
      </h2>
      <hr class="mb-4">
      <p>
        Los operadores de RXJS son un tipo especial de función, algo asi como un middleware que toma como input el flujo de datos de un observable y retorna como output un observable. se debe tener en cuenta que este 'middleware' puede transformar o no la información que pase por el según la funcionalidad del operador que se aplique.

        A continuación una lista de los operadores que se van a profundizar un poco más:
      </p>
    </p-card>
    <p-card>
      <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
        LISTA DE OPERADORES
      </h2>
      <hr class="mb-4">
      <ul class="list-inside list-disc">
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/map">
            MAP
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/pluck">
            PLUCK
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/map-to">
            MAP TO
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/filter">
            FILTER
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/tap">
            TAP
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/reduce">
            REDUCE
          </a>
        </li>
        <li>
          <a class="text-emerald-500 cursor-pointer hover:text-emerald-600" routerlink="/operators/scan">
            SCAN
          </a>
        </li>
      </ul>
    </p-card>
  </section>
</section>
