<section class="w-full">
  <h1 class="text-4xl mb-2 break-all">
    Map - <code class="text-indigo-600">map( callback() )</code>
  </h1>
  <hr class="mb-4">
  <p-card>
    <p>
      El operador map es una función que aplica una función (project) dada a cada valor emitido por el observador fuente y retorna un observable con los valores resultantes de dicha función.
    </p>
    <img src="/assets/images/map.png"
         class="w-full max-w-[600px] mx-auto mt-4 rounded-md"
         alt="map operator" width="600px" height="183">
  </p-card>
  <p-card>
    <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
      USO
    </h2>
    <hr class="mb-4">
    <pre class="whitespace-pre-wrap max-w-[600px] mx-auto border-[1px] rounded-md border-gray-700 mb-3">
      <code>
        const src$ = range(1,10)
      </code>
    </pre>
    <p>
      Una vez se tiene un observable se puede hacer el uso de los operadores de dos maneras, usandolo directamente en la creación del observable o en una subscripción especifica si no se necesita mapear los datos en todas las subscripciones
    </p>
    <pre class="whitespace-pre-wrap max-w-[600px] mx-auto border-[1px] rounded-md border-gray-700 my-3">
      <code>
        // Opción 1
        const src$ = range(1,10).pipe(
          map( val => val * 10)
        )

        // Opción 2
        src$.pipe(
          map( val => val * 10)
        ).subscribe( console.log )
      </code>
    </pre>
  </p-card>
  <p-card>
    <h2 class="text-2xl text-indigo-500 font-semibold mb-3">
      EJEMPLO
    </h2>
    <hr class="mb-4">
    <p>
      Se implementara el ejemplo anterior en el que cada valor emitido se multiplicara por 10:
    </p>
    <button type="button" (click)="start()"
            class="my-4 bg-indigo-600 p-2 rounded-md hover:bg-indigo-900 disabled:bg-indigo-900 disabled:opacity-60">
      Iniciar
    </button>
    <div class="grid grid-cols-1 md:grid-cols-2 my-4">
      <p-card *ngIf="originalArr.length > 0">
        <h3 class="text-xl font-bold">Original</h3>
        <hr class="my-3">
        <p *ngFor="let item of originalArr"
            class="border-b-[1px] border-b-indigo-500 py-2 px-4">
          {{item}}
        </p>
      </p-card>
      <p-card *ngIf="mappedArr.length > 0">
        <h3 class="text-xl font-bold">Mapeados</h3>
        <hr class="my-3">
        <p *ngFor="let item of mappedArr"
           class="border-b-[1px] border-b-indigo-500 py-2 px-4">
          {{item}}
        </p>
      </p-card>
    </div>
  </p-card>
</section>
