<p>async-scheduler works!</p>
<!--
  no crea un observable, crea una subscripcion.

  En cortas palabras el async schedules es el equivalente al setTimeOut y el setInterval de
  javascript vanilla ya que con el async scheduler podemos realizar estas dos instrucciones, solo que podemos
  tener mas control sobre lo que esta sucediendo.

  const saludar2 = ('fernando') => console.log('hello '+nombre)
  const saludar = () => console.log('hello')
  const subs: Subscription | null;
  task: action to execute
  delay: time to start the task
  state: param to execute in the task


  //TIMEOUT
      can be a simple param like a string.
      or if we need multiple params, we have to send an object { }
  asyncScheduler.schedule( task, delay, state)
  asyncScheduler.schedule(saludar, 2000, )


  //INTERVAL
  the task cant be a arrow function, because we need the reference to the internal this

   this.subs = asyncScheduler.schedule( funtion(state){
    console.log('state', state)
    this.schedule(state + 1, 1000)
  }, 3000, 0);

  to cancel the scheduler we need the reference to the subscription

  this.subs.unsubscribe();
-->
